{% extends "templates/base.html.j2" %}

{% block headtitle %}Заметки на oleg.rocks{% endblock %}

{% block sitecontainer %}

    <h1>Заметки на oleg.rocks <a class="smaller" href="/">↑&nbsp;на&nbsp;главную</a></h1>

    <h2>Заметки</h2>
    {% include "sections/content.html.j2" %}

{% endblock %}
