{% extends "templates/base.html.j2" %}

{% block headtitle %}Олег Морозенков{% endblock %}

{% block sitecontainer %}

    <h1>Олег Морозенков</h1>

    <h2>Contacts</h2>
    {% include "sections/contacts.html.j2" %}

    <h2>Заметки <a class="smaller" href="/content/">прямая&nbsp;ссылка</a></h2>
    {% include "sections/content.html.j2" %}

{% endblock %}
