<p class="contact-item"><img class="contact-item__logo" src="images/telegram.png"><a href="https://t.me/olezhes">Telegram</a></p>
<p class="contact-item"><img class="contact-item__logo" src="images/mail.png"><a href="mailto:m@oleg.rocks">m@oleg.rocks</a></p>
<p class="contact-item"><img class="contact-item__logo" src="images/facebook.png"><a href="https://facebook.com/olezhes">Facebook</a></p>
<!-- <p class="contact-item"><img class="contact-item__logo" src="images/vk.png"><a href="https://vk.com/olezhes">VK</a></p> -->
<p class="contact-item"><img class="contact-item__logo" src="images/instagram.png"><a href="https://instagram.com/olezhes_">Instagram</a></p>
<!-- <p class="contact-item"><img class="contact-item__logo" src="images/linkedin.png"><a href="https://linkedin.com/in/olezhes">LinkedIn</a></p> -->
<p class="contact-item"><img class="contact-item__logo" src="images/github.png"><a href="https://github.com/reo7sp">GitHub</a></p>
