<p><a href="https://olezhes.notion.site/Markdown-PlantUML-Mermaid-19e5aacafa2a80c9b53bce59e8b2dbca">Алиасы для генерации Markdown, PlantUML и Mermaid</a></p>

<h2>Коллекции</h2>
<p><a href="https://olezhes.notion.site/525e9609636e4c3c90640231b32795dc?pvs=73">Книжки</a></p>

<h2>Творчество, open-source и сервисы</h2>
<p><a href="https://olezhes.notion.site/Gogol-School-1915aacafa2a808f9856d597f9d9df62?pvs=4" rel="nofollow">Gogol School</a></p>
<p><a href="https://github.com/reo7sp/dotfiles#readme">Dotfiles (zsh, vim, sublime text, git, kitty)</a></p>
<p><a href="https://github.com/reo7sp/minimal-ok-page#readme">Шаблон минимальной норм странички</a></p>
<p>Либы: <a href="https://github.com/reo7sp/tgbot-cpp#readme">tgbot-cpp</a>,
         <a href="https://github.com/ktsstudio/kts_linguistics#readme">kts_linguistics</a>,
         <a href="https://github.com/ktsstudio/gentle-python-pptx#readme">gentle-python-pptx</a></p>
<p><a href="https://reo7sp.github.io/vk-channelify/">Пересылка VK-паблика в Telegram-канал</a></p>
<p><a href="https://drop.oleg.rocks" rel="nofollow">Текстопомойка</a></p>
<p><a href="https://github.com/reo7sp?tab=repositories&q=&type=public&language=&sort=">Прочее на GitHub</a></p>
